<%#= render 'form', order: @order %>


<%#= form_for [@user,@order] do |f| %>
<%= form_for(@order ,url: "/add") do |f| %>

  <div class="alert alert-success center" role="alert">

    <div class="form-group row">
      <div class="col-sm-10">


       <%= f.select(:kind, [ 'Breakfast', 'Lunch','Dinner' ], {}, { :class => 'select' }) %>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <%= f.text_field :resturant, {:class => 'form-control friend-head-add', :placeholder => "Enter Restaurant"} %>
      </div>
    </div>

    <div class="field">
      <ul id="added">

      </ul>
    </div>

    <div class="custom-file">

      <%= f.label :img do  %>
      <%= f.file_field :img %>

      <%end%>
    </div>
    <br>
    <div class="action row">
      <div class="col-sm-10">
        <div class="form-group form-button">
          <input type="submit" value="Publish" width="50"/>
        </div>
      </div>
    </div>
<% end %>
<%= link_to 'Back', orders_path %>


</div>


