<%#= render 'form', order: @order %>


<%#= form_for [@user,@order] do |f| %>
<head>
  <link rel="stylesheet" href="/css/add_orders.css">
</head>
<body>
<div class="main">

  <!-- Sign up form -->
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <div class="signup-form">
<%= form_for(@order ,url: "/add") do |f| %>

  <div class="alert alert-success center" role="alert">

    <div class="form-group row">
      <div class="col-sm-10">


       <%= f.select(:kind, [ 'Breakfast', 'Lunch','Dinner' ], {}, { :class => 'select' }) %>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <%= f.text_field :resturant, {:class => 'form-control friend-head-add', :placeholder => "Enter Restaurant" ,:style => 'width: 350px'} %>
      </div>
    </div>

    <div class="field">
      <ul id="added">

      </ul>
    </div>

    <div class="custom-file">

      <%= f.label :img do  %>
      <%= f.file_field :img %>

      <%end%>
    </div>
    <br>
    <%= form_tag(search_page_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <div class="input-group">
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" ,:style => 'width: 350px'%>
        <%= submit_tag("Add", width:"100px") %>
        <div class="input-group-btn">


        </div>
      </div>
    <% end %>

    <div class="action row">
      <div class="col-sm-10">
        <div class="form-group form-button">
          <input type="submit" value="Publish" width="50"/>
        </div>
      </div>
    </div>

<% end %>


<%= link_to 'Back', orders_path %>


</div>

        </div>


        <div class="signup-image">
          <% if @all_friends %>
            <% @all_friends.each do |friend| %>
              <div class="card" style="width: 18rem;">

                <div class="card-body">
                  <h5 class="card-title"> <%= friend.fname %>  <%= friend.lname %></h5>

                  <a href="#" class="btn btn-primary">Remove</a>
                </div>
              </div>



            <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
</body>

