<%#= render 'form', order: @order %>


<%#= form_for [@user,@order] do |f| %>
<%= form_for(@order ,url: "/add") do |f| %>

  <div class="alert alert-success center" role="alert">

    <div class="form-group row">
      <div class="col-sm-10">


       <%= f.select(:kind, [ 'Breakfast', 'Lunch','Dinner' ], {}, { :class => 'select' }) %>

      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <%= f.text_field :resturant, {:class => 'form-control friend-head-add', :placeholder => "Enter Restaurant"} %>
      </div>
    </div>

<!--    <div class="form-group row">-->
<!--      <div class="col-sm-10">-->
        <%#= f.text_field :user_name, data: {autocomplete_source: users_path}, :class => "form-control friend-head-add", :placeholder => "Search for Friends to invite"%>
<!--      </div>-->
<!--    </div>-->
    <div class="field">
      <ul id="added">

      </ul>
    </div>
<!--    <div class="custom-file row">-->
<!--      <div class="col-sm-10">-->
<!--        <label class="custom-file-label" for="validatedCustomFile">Choose Menu Image file...</label>-->
<!--      </div>-->
<!--      <div class="col-sm-10">-->
        <%#= f.file_field :avatar , {:class => 'custom-file-input form-control friend-head-add'}%>
<!--      </div>-->
<!--    </div>-->
    <div class="custom-file">
      <%= f.label(:image, "Menu image : ", class: "custom-file-label") %>
      <%= f.file_field :menu, {:accept =>'image/jpg', :class => 'custom-file-input', :required => true } %>

      <%#= @order.errors[:menu].first %>
    </div>
    <br>
    <div class="action row">
      <div class="col-sm-10">
        <div class="form-group form-button">
          <input type="submit" value="Publish" width="50"/>
        </div>
      </div>
    </div>
<% end %>
<%= link_to 'Back', orders_path %>


</div>


