<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>

  <title>YallaNotlob</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'true' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="/css/style.css">
  <!-- Modernizr JS -->
  <script src="/js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>

	<div id="fh5co-container">
	
		<div class="js-sticky">
			<div class="fh5co-main-nav">
				<div class="container-fluid">
					<div class="fh5co-menu-1">
					
						<a  href="<%= friends_path %>">friends </a>
						<a  href="<%= groups_path %>">groups </a>
						<a  href="<%= orders_path %>">orders </a>
					</div>
					<div class="fh5co-logo">
						<a href="<%= home_path %>">YallaNotlob</a>
					</div>
					<div class="fh5co-menu-2">
					<% if logged_in?  %>
					<a href="#"><%= current_user.fname  %> <%= current_user.lname  %></a>
						<a  href="<%= logout_path %>">logout </a>
						
					
						<li class="nav-item btn-group" data-behavior = "notifications">
							<a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-behavior="notifications-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="">
								<%= fa_icon "bell" %><span data-behavior="unread-count"></span>
							</a>
							<div class="dropdown-menu" aria-labelledby= "dropdownMen"  data-behavior = "notification-item" style="line-height: 20%;width:380px; height: 300px; overflow: auto;">

							</div>
							
						</li>

					<% end %>
					</div>
				</div>
				
			</div>
		</div>



		<%= yield %>
	</div>

	<div id="fh5co-footer">
		<div class="container">
			<div class="row row-padded">
				<div class="col-md-12 text-center">
					<p class="to-animate">&copy; 2016 Foodee Free HTML5 Template. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a> <br> Tasty Icons Free <a href="http://handdrawngoods.com/store/tasty-icons-free-food-icons/" target="_blank">handdrawngoods</a>
					</p>
					<p class="text-center to-animate"><a href="#" class="js-gotop">Go To Top</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="fh5co-social">
						<li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
						<li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">>
	
	</script>
	<script type="text/javascript">
	   
	function hideButton(data){
		console.log(data)
		console.log("yactaaaaaaaaa")
		data.remove()
		console.log("a7md llah")
	}
	</script>		
	<!-- jQuery -->
	<script src="/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Bootstrap DateTimePicker -->
	<script src="/js/moment.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/js/jquery.stellar.min.js"></script>

	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>
	<!-- Main JS -->
	<script src="/js/main.js"></script>
	<%= javascript_pack_tag 'notifications' %>

	</body>
</html>

